<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.corticalsystmatics.android_sensor">

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="36" />

    <application
        android:hasCode="false"
        android:label="SensorApp"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:supportsRtl="true">
        
        <activity android:name="android.app.NativeActivity"
                android:label="SensorApp"
                android:exported="true"
                android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.lib_name"
                    android:value="accelerometer-udp" />
        </activity>

    </application>

</manifest>
